{% extends "base.html" %}
{% load cache %}
{# Server listings #}

{% block title %}List Of Your Servers - Minecraft Server Manager{% endblock %}
{% block body %}
	<table border="1">
		<tr>
			<td>Name</td>
			<td>Server</td>
			<td>Plugins</td>
			<td>Owners</td>
			<td>Listens On</td>
		</tr>
		{% for server in servers %}
			<tr>
				<td><a href="/servers/{{ server.pk }}/">{{ server.name }}</a></td>
				<td><a href="/bins/{{ server.bin.pk }}/">{{ server.bin.name }}</a></td>
				<td>{{ server.plugins_csv }}</td>
				<td>{{ server.owner_csv }}</td>
				<td>{{ server.listen }}:{{ server.port }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
