{% extends "base.html" %}
{% load cache %}
{# Binaries listing #}


{% block title %}List Of Server Binaries{% endblock %}


{% block quick %}
    {% cache 3600 binsQuick0 user.id %}
        {# Bins Menu #}
        <ul class="nav">
            <li>New Binaries</li>
            
            <li><a href="/mc/bins/new/upload/">Upload New Binary</a></li>
            <li><a href="/mc/bins/new/byURL/">Download New Binary From URL</a></li>
            <li><a href="/mc/bins/new/search/">Search For New Binaries</a></li>
        </ul> 
    {% endcache %} 
{% endblock %}


{% block body %}
    {% cache 60 bodyBinariesIndex2 %}
        {% for typeName,v in gBy.items %}
            <div class="newsbox">
                <h1>{{ typeName.0 }} Minecraft Server Binaries</h1>
                {% for releaseStatus,v2 in v.items %} 
                    <div class="newspost">
	                    <div class="newsheader">
	                        <h2 class="newstitle">{{ releaseStatus.0 }}</h2>
	                        <span></span>
	                    </div>
	                    <div class="news">  
	                        {% for v3 in v2 %}
			                    <h3><a href="/mc/bins/{{ v3.id|urlize }}/">Version {{ v3.key.2 }}</a></h3>			                        
		                        <ul>
			                        <li><i><a href="/mc/bins/{{ v3.id|urlize }}/">Manage {{ v3.id|slice:"-8:" }}</a></i></li>
			                        <li><b>ID:</b> {{ v3.id }}</li>
                                    <li><b>Release Status:</b> {{ releaseStatus.0 }}</li>
                                    <li><b>Release Type:</b> {{ typeName.0 }}</li>
			                        <li><b>Version:</b> {{ v3.key.2 }}</li>
			                    </ul>
		                    {% endfor %}
		                </div>
		            </div> 
                {% endfor %}                
            </div>
        {% endfor %}    
	{% endcache %}
{% endblock %}
